## Question_01:

**Write a program that takes the user's name, age, and specialization as input, and then prints a welcome message as follows:**
  
  Hello `name`, your age is `age`, and your specialization is `specialization`.

In [1]:
name=input("enter your name : ")
age=int(input("enter your age : "))
career=input("enter your specialization : ")
print(f"hello {name}, your age is {age} and your specialization is {career}.")

enter your name : salma
enter your age : 21
enter your specialization : machine
hello salma, your age is 21 and your specialization is machine.

## Question_02:

**Extraction of odd numbers from this string.**

In [3]:
s = "123456789"
odd=""
for i  in s :
  if int(i)%2!=0:
    odd+=str(i)
print(odd)

13579

## Question_03:

**Convert the first letter of this word to uppercase, and other letters to be lowercase.**

In [8]:
name = "aHmEd"
name=name.title()
name

'Ahmed'

## Question_04:

**There are some spaces and hashtag in this text. I want to get rid of them all.**

In [9]:
team  = "   GDCS######"
team2=""
for i in team :
  if i!=" " and i !='#':
    team2+=i
team2

'GDCS'

## Question_05:

**Print the type of the following data:**
1. "Hello World"
2. 123
3. 3.14
4. True

In [10]:
print(type("hello world"))
print(type(123))
print(type(3.14))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

## Question_06:

**Here are two numbers `x=10` & `y=5`, Calculate the summation, subtraction, multiplication, and division of them. Then print them all**

In [11]:
x=10
y=5
print("the summation is : ",x+y)
print(f"the subtraction is {x-y}")
print("the multiplication is {}".format(x*y))
print("the divison is "+str(x/y))

the summation is :  15
the subtraction is 5
the multiplication is 50
the divison is 2.0