## Question_01 (List Manipulation):

**Create a list of numbers from 1 to 10. Write a program to print all the even numbers in the list.**

In [ ]:
numbers = list(range(1, 11))
for i in numbers:
  if i%2==0:
    print(i)

# Answer:

2
4
6
8
10

## Question_02 (Tuple Unpacking):

**Given a tuple person = ("John", 25, "Engineer"), unpack the values and print them in a readable format.**

Example: "Name is `John`, His age is `25`, and his profession is `Engineer`"

In [ ]:
person = ("John", 25, "Engineer")
print(f"Name: {person[0]}, Age: {person[1]}, profession: {person[2]} ")

# Answer:

Name: John, Age: 25, profession: Engineer

## Question_03 (Set Intersection):

**Given two sets set1 and set2, find and print the common elements between them.**

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
#answer
set3=set1.intersection(set2)
print(set3)
set4=set()
#or anothor way
for i in set1:
  for j in set2:
    if i==j:
      set4.add(i)
print(set4)

{4, 5}
{4, 5}

## Question_04 (Dictionary Manipulation):

**Having a dictionary containing the names and ages of three people. Write a program to find and print the person with the highest age.**

In [ ]:
people = {"Alice": 30, "Bob": 25, "Charlie": 35}
max_age=max(people.values())
name_of_max_age=""
for name,age in people.items():
  if age==max_age:
    name_of_max_age=name
    break
print(f"the person with highest age is {name_of_max_age} and he is aged {max_age}.")

the person with highest age is Charlie and he is aged 35.

## Question_05 (List Comprehension):

**Given a list of numbers, create a new list that contains only the squares of even numbers using list comprehension.**

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_comprehension=[x**2 for x in numbers if x%2==0]
list_comprehension
# Answer:

[4, 16, 36, 64, 100]

## Question_06 (Tuple Packing):

**Having two variables, name and age, write a program that prints a tuple containing the name and age.**

In [ ]:
name = "Alice"
age = 28
#my_info_tuple=()
#my_info_tuple=name,age
my_info_tuple=name,age
my_info_tuple

# Answer:

('Alice', 28)

## Question_07 (Set Operations):

**Having two sets of random numbers between 1 and 100, calculate and print the union and symmetric difference of the two sets.**

In [ ]:
import random

set1 = set(random.sample(range(1, 101), 10))
set2 = set(random.sample(range(1, 101), 10))
union_set=set1.union(set2)
diff_set1=set1.difference(set2)
diff_set2=set2.difference(set1)
symmtry_diff=diff_set1.union(diff_set2)
print("first set is ",set1)
print("second set is ",set2)
print("union: ",union_set)
print("symmetric difference: ",symmtry_diff)
#or using this methode and both way is same
print(set1.symmetric_difference(set2))
#if symmtry_diff==(set1.symmetric_difference(set2)):
 # print("you are true ")


# Answer:

first set is  {64, 65, 44, 12, 14, 22, 55, 89, 60, 62}
second set is  {36, 37, 71, 40, 8, 7, 44, 78, 57, 93}
union:  {64, 65, 71, 8, 7, 12, 14, 78, 22, 89, 93, 36, 37, 40, 44, 55, 57, 60, 62}
symmetric difference:  {64, 65, 36, 37, 71, 40, 8, 7, 12, 14, 78, 22, 55, 89, 60, 93, 62, 57}
{64, 65, 89, 36, 37, 71, 40, 8, 7, 12, 78, 14, 22, 55, 57, 60, 93, 62}
you are true

## Question_08 (Nested Dictionaries):

**Given a nested dictionary representing a student's grades, calculate and print the average grade for each subject.**

In [36]:
student_grades = {
    "Alice": {"Math": 90, "Science": 85, "History": 88},
    "Bob": {"Math": 78, "Science": 92, "History": 76}
}
#Answer:
math=0.0
sc=0.0
history=0.0
for value in student_grades.values():
  for key,value2 in value.items():
         if key=="Math":
            math+=value2
         elif key=="History":
          history+=value2
         else:
          sc+=value2
alic_avg_grades=0.0
bob_avg_grades=0.0
avg1=0.0
l=[]
counter=0
for key,value in student_grades.items():
  for value in value.values():
      avg1+=value
      counter+=1
  l.append(avg1/counter)
  avg1=0
  counter=0

alic_avg_grades=round(l[0] ,2)
bob_avg_grades=round(l[1],2)
print("Alic avg grades ",alic_avg_grades)
print("Bob avg grades ",bob_avg_grades)
print("math avg grades is : ",round((math/len(student_grades)),2))
print("science avg grades is : ",sc/len(student_grades))
print("history avg is : ",history/len(student_grades))

Alic avg grades  87.67
Bob avg grades  82.0
math avg grades is :  84.0
science avg grades is :  88.5
history avg is :  82.0

## Question_09 (List Rotation):

**Write a program to rotate a given list to the right by a specified number of positions. For example, if the list is `[1, 2, 3, 4, 5]` and the rotation is 2, the result should be `[4, 5, 1, 2, 3]`.**

In [50]:
original_list = [1, 2, 3, 4, 5]
rotation_position = 2
# Answer:
# ididnt undersatnd it i see it in chatgpt but dont understand it yet

[4, 5, 1, 2, 3]

## Question_10 (Prime Number Generator):

**Having a list of numbers, Write a program that loops over the list and print only elements dividable by 3 - `%3`**

In [43]:
lst = list(range(1,100, 2))
# Answer for odd numbers :
for i in lst:
  if i%3==0:
    print(i)
# answer for prime numbers :
print("*"*15)
counter=0
for i in lst:
  counter=0
  for j in range(1,i+1):
    if i%j==0:
      counter+=1
  if counter==2:
    print(i)

3
9
15
21
27
33
39
45
51
57
63
69
75
81
87
93
99
***************
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97